.git
.gitignore
.env
.env.*
*.log

backend/.env
backend/output
backend/__pycache__
backend/**/__pycache__
backend/**/*.pyc
backend/.pytest_cache

frontend/node_modules
frontend/dist
frontend/.env
frontend/.env.*

tests
.pytest_cache
.venv
venv
